In [2]:
#Librerias para manipulacion de los datos
import numpy as np
import pandas as pd
import matplotlib as plt

In [4]:
#Carga de datos 
df = pd.read_csv("../data/tableClaude.csv")

In [5]:
df

    sem1  sem2  sem3  sem4  sem5  sem6  sem7  sem8  sem9
0      0    15    18    12    18     0     0     0     0
1      2    24    19    13    14    12     0     0     0
2      3    19    22    17    12    12    12    10     0
3      1    19    18    18    12    12    13    15     2
4      4    19    18    18    12    12    14    15     2
5      2    32    18    18    17    12    12    12     7
6      2    14    24    17    18    14    12    11     6
7      1    26    14    23    16    18    12    12     5
8      2    22    13    22    18    14    19    13     4
9      2    25    15    13    12    14    12    12     6
10     2    24    21    12    18    12    13    11     8
11     2    25    19    17    12    17    10    12     8
12     3    20    21    16    18    12    16    15    13
13     4    22    18    18    12    12    10    15    11
14     3    21    19    18    17    12    18    15    11
15     4    22    18    18    12    12    13    15    11
16     3    24    20    19    18    12    18    17    10
17     3    30    19    20    18    18    12    18    11
18     3    23    24    18    18    12    18    14    11
19     6    26    23    24    18    18    18    12    16
20     3    21    24    18    17    22    18    11    14
21     3    23    20    18    14    18    17    14    10

In [8]:
#df
#Graficacion
fig = plt.figure(figsize=(15,5))
ax1=fig.add_subplot(1,9,1) #1 renglon 9 columnas - posicion 1
ax2=fig.add_subplot(1,9,2)#1 renglon 9 columnas - posicion 2
ax3=fig.add_subplot(1,9,3)#1 renglon 9 columnas - posicion 3
ax1.set_title("Datos Originales Juntos")
ax1.plot(df)
ax2.set_tile("Semestres")
ax2-plot(datos)