In [46]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout
from sklearn.metrics import mean_absolute_error

In [31]:
# 2. Cargar y preprocesar datos
df = pd.read_csv('../tableClaudePeriod.csv')

In [32]:
#Ver dataFrame
df

   periodo  sem1  sem2  sem3  sem4  sem5  sem6  sem7  sem8  sem9
0   2012-2     0    15    18    12    18     0     0     0     0
1   2013-1     2    24    19    13    14    12     0     0     0
2   2013-2     3    19    22    17    12    12    12    10     0
3   2014-1     1    19    18    18    12    12    13    15     2
4   2014-2     4    19    18    18    12    12    14    15     2
5   2015-1     2    32    18    18    17    12    12    12     7
6   2015-2     2    14    24    17    18    14    12    11     6
7   2016-1     1    26    14    23    16    18    12    12     5
8   2016-2     2    22    13    22    18    14    19    13     4
9   2017-1     2    25    15    13    12    14    12    12     6
10  2017-2     2    24    21    12    18    12    13    11     8
11  2018-1     2    25    19    17    12    17    10    12     8
12  2018-2     3    20    21    16    18    12    16    15    13
13  2019-1     4    22    18    18    12    12    10    15    11
14  2019-2     3    21    19    18    17    12    18    15    11
15  2020-1     4    22    18    18    12    12    13    15    11
16  2020-2     3    24    20    19    18    12    18    17    10
17  2021-1     3    30    19    20    18    18    12    18    11
18  2021-2     3    23    24    18    18    12    18    14    11
19  2022-1     6    26    23    24    18    18    18    12    16
20  2022-2     3    21    24    18    17    22    18    11    14
21  2023-1     3    23    20    18    14    18    17    14    10

In [6]:
# Reemplaza los valores 0 por NaN en todo el DataFrame
#df.replace(0, np.nan, inplace=True)

In [7]:
#Imprimir de nuevo DataFrame
df

   periodo  sem1  sem2  sem3  sem4  sem5  sem6  sem7  sem8  sem9
0   2012-2   NaN    15    18    12    18   NaN   NaN   NaN   NaN
1   2013-1   2.0    24    19    13    14  12.0   NaN   NaN   NaN
2   2013-2   3.0    19    22    17    12  12.0  12.0  10.0   NaN
3   2014-1   1.0    19    18    18    12  12.0  13.0  15.0   2.0
4   2014-2   4.0    19    18    18    12  12.0  14.0  15.0   2.0
5   2015-1   2.0    32    18    18    17  12.0  12.0  12.0   7.0
6   2015-2   2.0    14    24    17    18  14.0  12.0  11.0   6.0
7   2016-1   1.0    26    14    23    16  18.0  12.0  12.0   5.0
8   2016-2   2.0    22    13    22    18  14.0  19.0  13.0   4.0
9   2017-1   2.0    25    15    13    12  14.0  12.0  12.0   6.0
10  2017-2   2.0    24    21    12    18  12.0  13.0  11.0   8.0
11  2018-1   2.0    25    19    17    12  17.0  10.0  12.0   8.0
12  2018-2   3.0    20    21    16    18  12.0  16.0  15.0  13.0
13  2019-1   4.0    22    18    18    12  12.0  10.0  15.0  11.0
14  2019-2   3.0    21    19    18    17  12.0  18.0  15.0  11.0
15  2020-1   4.0    22    18    18    12  12.0  13.0  15.0  11.0
16  2020-2   3.0    24    20    19    18  12.0  18.0  17.0  10.0
17  2021-1   3.0    30    19    20    18  18.0  12.0  18.0  11.0
18  2021-2   3.0    23    24    18    18  12.0  18.0  14.0  11.0
19  2022-1   6.0    26    23    24    18  18.0  18.0  12.0  16.0
20  2022-2   3.0    21    24    18    17  22.0  18.0  11.0  14.0
21  2023-1   3.0    23    20    18    14  18.0  17.0  14.0  10.0

In [33]:
#Preprocesamiento de datos
df = df.sort_values('periodo') 
df = df.interpolate()

In [34]:
#Preprocesamiento de Datos 2
scaler = MinMaxScaler()
X = scaler.fit_transform(df.iloc[:, 1:])

In [35]:
#Definicion del vector Y
y = df.iloc[:, 1:].to_numpy()

In [36]:
# 3. Dividir datos en train y test
split = int(0.7*len(X))
X_train = X[:split]
X_test = X[split:]
y_train = y[:split] 
y_test = y[split:]

In [37]:
#Imprimir para validar la forma del arreglo(3 o 4 dimensiones)
X_train.shape 
# X_train tiene shape (15, 9) inicialmente (resultado que salio al imprimir)

(15, 9)

In [38]:
X_train = X_train.reshape((-1, X_train.shape[1], 1, 1)) 
# Ahora X_train tiene shape (15, 9, 1, 1)

In [39]:
total_elements = X_train.size
X_train = X_train.reshape(15, 9, 1)

In [40]:
# 4. Definir y entrenar modelo LSTM 
model = Sequential()
model.add(LSTM(64, input_shape=(X_train.shape[1], X_train.shape[2]))) 
model.add(Dense(9))

model.compile(loss='mae', optimizer='adam')

In [41]:
#Entrenar el modelo con los datos X_train y y_train:
model.fit(X_train, y_train, epochs=100)

Epoch 1/100
1/1 [==============================] - 2s 2s/step - loss: 12.7789
Epoch 2/100
1/1 [==============================] - 0s 8ms/step - loss: 12.7665
Epoch 3/100
1/1 [==============================] - 0s 9ms/step - loss: 12.7543
Epoch 4/100
1/1 [==============================] - 0s 14ms/step - loss: 12.7424
Epoch 5/100
1/1 [==============================] - 0s 16ms/step - loss: 12.7304
Epoch 6/100
1/1 [==============================] - 0s 13ms/step - loss: 12.7185
Epoch 7/100
1/1 [==============================] - 0s 38ms/step - loss: 12.7063
Epoch 8/100
1/1 [==============================] - 0s 10ms/step - loss: 12.6938
Epoch 9/100
1/1 [==============================] - 0s 11ms/step - loss: 12.6809
Epoch 10/100
1/1 [==============================] - 0s 14ms/step - loss: 12.6673
Epoch 11/100
1/1 [==============================] - 0s 13ms/step - loss: 12.6530
Epoch 12/100
1/1 [==============================] - 0s 24ms/step - loss: 12.6378
Epoch 13/100
1/1 [==============================] - 0s 10ms/step - loss: 12.6215
Epoch 14/100
1/1 [==============================] - 0s 48ms/step - loss: 12.6039
Epoch 15/100
1/1 [==============================] - 0s 11ms/step - loss: 12.5847
Epoch 16/100
1/1 [==============================] - 0s 11ms/step - loss: 12.5638
Epoch 17/100
1/1 [==============================] - 0s 19ms/step - loss: 12.5406
Epoch 18/100
1/1 [==============================] - 0s 11ms/step - loss: 12.5148
Epoch 19/100
1/1 [==============================] - 0s 13ms/step - loss: 12.4860
Epoch 20/100
1/1 [==============================] - 0s 14ms/step - loss: 12.4535
Epoch 21/100
1/1 [==============================] - 0s 14ms/step - loss: 12.4167
Epoch 22/100
1/1 [==============================] - 0s 11ms/step - loss: 12.3747
Epoch 23/100
1/1 [==============================] - 0s 13ms/step - loss: 12.3267
Epoch 24/100
1/1 [==============================] - 0s 12ms/step - loss: 12.2715
Epoch 25/100
1/1 [==============================] - 0s 16ms/step - loss: 12.2078
Epoch 26/100
1/1 [==============================] - 0s 10ms/step - loss: 12.1342
Epoch 27/100
1/1 [==============================] - 0s 10ms/step - loss: 12.0493
Epoch 28/100
1/1 [==============================] - 0s 13ms/step - loss: 11.9515
Epoch 29/100
1/1 [==============================] - 0s 12ms/step - loss: 11.8414
Epoch 30/100
1/1 [==============================] - 0s 11ms/step - loss: 11.7172
Epoch 31/100
1/1 [==============================] - 0s 11ms/step - loss: 11.5798
Epoch 32/100
1/1 [==============================] - 0s 10ms/step - loss: 11.4283
Epoch 33/100
1/1 [==============================] - 0s 11ms/step - loss: 11.2645
Epoch 34/100
1/1 [==============================] - 0s 10ms/step - loss: 11.0951
Epoch 35/100
1/1 [==============================] - 0s 8ms/step - loss: 10.9314
Epoch 36/100
1/1 [==============================] - 0s 10ms/step - loss: 10.7721
Epoch 37/100
1/1 [==============================] - 0s 11ms/step - loss: 10.6156
Epoch 38/100
1/1 [==============================] - 0s 10ms/step - loss: 10.4623
Epoch 39/100
1/1 [==============================] - 0s 14ms/step - loss: 10.3112
Epoch 40/100
1/1 [==============================] - 0s 11ms/step - loss: 10.1656
Epoch 41/100
1/1 [==============================] - 0s 15ms/step - loss: 10.0239
Epoch 42/100
1/1 [==============================] - 0s 9ms/step - loss: 9.8845
Epoch 43/100
1/1 [==============================] - 0s 13ms/step - loss: 9.7478
Epoch 44/100
1/1 [==============================] - 0s 13ms/step - loss: 9.6139
Epoch 45/100
1/1 [==============================] - 0s 13ms/step - loss: 9.4830
Epoch 46/100
1/1 [==============================] - 0s 10ms/step - loss: 9.3551
Epoch 47/100
1/1 [==============================] - 0s 11ms/step - loss: 9.2316
Epoch 48/100
1/1 [==============================] - 0s 10ms/step - loss: 9.1121
Epoch 49/100
1/1 [==============================] - 0s 9ms/step - loss: 8.9955
Epoch 50/100
1/1 [==============================] - 0s 11ms/step - loss: 8.8842
Epoch 51/100
1/1 [==============================] - 0s 11ms/step - loss: 8.7768
Epoch 52/100
1/1 [==============================] - 0s 11ms/step - loss: 8.6725
Epoch 53/100
1/1 [==============================] - 0s 13ms/step - loss: 8.5711
Epoch 54/100
1/1 [==============================] - 0s 14ms/step - loss: 8.4722
Epoch 55/100
1/1 [==============================] - 0s 13ms/step - loss: 8.3770
Epoch 56/100
1/1 [==============================] - 0s 15ms/step - loss: 8.2842
Epoch 57/100
1/1 [==============================] - 0s 12ms/step - loss: 8.1934
Epoch 58/100
1/1 [==============================] - 0s 17ms/step - loss: 8.1043
Epoch 59/100
1/1 [==============================] - 0s 16ms/step - loss: 8.0168
Epoch 60/100
1/1 [==============================] - 0s 11ms/step - loss: 7.9308
Epoch 61/100
1/1 [==============================] - 0s 12ms/step - loss: 7.8461
Epoch 62/100
1/1 [==============================] - 0s 20ms/step - loss: 7.7627
Epoch 63/100
1/1 [==============================] - 0s 15ms/step - loss: 7.6884
Epoch 64/100
1/1 [==============================] - 0s 9ms/step - loss: 7.6146
Epoch 65/100
1/1 [==============================] - 0s 11ms/step - loss: 7.5407
Epoch 66/100
1/1 [==============================] - 0s 14ms/step - loss: 7.4667
Epoch 67/100
1/1 [==============================] - 0s 14ms/step - loss: 7.3927
Epoch 68/100
1/1 [==============================] - 0s 11ms/step - loss: 7.3188
Epoch 69/100
1/1 [==============================] - 0s 9ms/step - loss: 7.2456
Epoch 70/100
1/1 [==============================] - 0s 28ms/step - loss: 7.1730
Epoch 71/100
1/1 [==============================] - 0s 10ms/step - loss: 7.1003
Epoch 72/100
1/1 [==============================] - 0s 10ms/step - loss: 7.0275
Epoch 73/100
1/1 [==============================] - 0s 9ms/step - loss: 6.9547
Epoch 74/100
1/1 [==============================] - 0s 10ms/step - loss: 6.8820
Epoch 75/100
1/1 [==============================] - 0s 12ms/step - loss: 6.8105
Epoch 76/100
1/1 [==============================] - 0s 16ms/step - loss: 6.7432
Epoch 77/100
1/1 [==============================] - 0s 15ms/step - loss: 6.6759
Epoch 78/100
1/1 [==============================] - 0s 9ms/step - loss: 6.6090
Epoch 79/100
1/1 [==============================] - 0s 14ms/step - loss: 6.5428
Epoch 80/100
1/1 [==============================] - 0s 11ms/step - loss: 6.4768
Epoch 81/100
1/1 [==============================] - 0s 10ms/step - loss: 6.4109
Epoch 82/100
1/1 [==============================] - 0s 12ms/step - loss: 6.3453
Epoch 83/100
1/1 [==============================] - 0s 9ms/step - loss: 6.2798
Epoch 84/100
1/1 [==============================] - 0s 20ms/step - loss: 6.2146
Epoch 85/100
1/1 [==============================] - 0s 18ms/step - loss: 6.1495
Epoch 86/100
1/1 [==============================] - 0s 13ms/step - loss: 6.0848
Epoch 87/100
1/1 [==============================] - 0s 10ms/step - loss: 6.0202
Epoch 88/100
1/1 [==============================] - 0s 12ms/step - loss: 5.9580
Epoch 89/100
1/1 [==============================] - 0s 13ms/step - loss: 5.8964
Epoch 90/100
1/1 [==============================] - 0s 13ms/step - loss: 5.8342
Epoch 91/100
1/1 [==============================] - 0s 11ms/step - loss: 5.7717
Epoch 92/100
1/1 [==============================] - 0s 15ms/step - loss: 5.7155
Epoch 93/100
1/1 [==============================] - 0s 9ms/step - loss: 5.6607
Epoch 94/100
1/1 [==============================] - 0s 11ms/step - loss: 5.6081
Epoch 95/100
1/1 [==============================] - 0s 9ms/step - loss: 5.5562
Epoch 96/100
1/1 [==============================] - 0s 10ms/step - loss: 5.5041
Epoch 97/100
1/1 [==============================] - 0s 11ms/step - loss: 5.4520
Epoch 98/100
1/1 [==============================] - 0s 9ms/step - loss: 5.3997
Epoch 99/100
1/1 [==============================] - 0s 12ms/step - loss: 5.3474
Epoch 100/100
1/1 [==============================] - 0s 10ms/step - loss: 5.2971

In [44]:
# Hacer predicciones con el modelo
y_pred = model.predict(X_test)

1/1 [==============================] - 0s 29ms/step

In [47]:
# Evaluar predicciones
mae = mean_absolute_error(y_test, y_pred) 
print("MAE:", mae)

MAE: 7.255638892688449

In [48]:

# Inverse transform para escala original
y_pred = scaler.inverse_transform(y_pred)
y_test = scaler.inverse_transform(y_test)

# Imprimir predicciones vs reales
for i in range(len(y_test)):
  print("Real:", y_test[i], "Predicción:", y_pred[i])

Real: [ 24. 410. 211. 228.  84. 264. 247. 270. 176.] Predicción: [ 11.881686 218.70874  136.12886  129.07388   87.885635 211.75868
 132.53574  152.8754    95.68523 ]
Real: [ 18. 446. 233. 240. 120. 264. 342. 306. 160.] Predicción: [ 11.881641 218.70297  136.12457  129.0696    87.883224 211.75378
 132.53232  152.87341   95.68263 ]
Real: [ 18. 554. 222. 252. 120. 396. 228. 324. 176.] Predicción: [ 11.881661 218.71474  136.13208  129.07701   87.88789  211.76501
 132.53922  152.87997   95.68817 ]
Real: [ 18. 428. 277. 228. 120. 264. 342. 252. 176.] Predicción: [ 11.881753 218.71011  136.12927  129.07355   87.88588  211.75996
 132.53679  152.87677   95.68585 ]
Real: [ 36. 482. 266. 300. 120. 396. 342. 216. 256.] Predicción: [ 11.882179 218.75111  136.15651  129.09842   87.90192  211.79732
 132.56215  152.89822   95.70502 ]
Real: [ 18. 392. 277. 228. 114. 484. 342. 198. 224.] Predicción: [ 11.882406 218.72295  136.13852  129.07968   87.89052  211.76987
 132.5463   152.88216   95.691826]
Real: [ 18. 428. 233. 228.  96. 396. 323. 252. 160.] Predicción: [ 11.881618 218.69998  136.12291  129.06807   87.882095 211.75063
 132.53052  152.87097   95.681114]

Los resultados por el modelo de prediccion no son los mas precisos.

El siguiente objetivo es optimizar el modelo, lo cual involucra una serie de pasos.

### Analisis exploratorio de datos 
- La continuacion de este proceso seguira en la carpeta llamada modelv9